/*************************************
imports
container element
wrapper element
gallery elements
**************************************/

/*************************************
imports
**************************************/
@import "../../../../styles.less";

/*************************************
container element
**************************************/
.image-gallery-container {
}

/*************************************
wrapper element
**************************************/
.image-gallery-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}

/*************************************
gallery elements
**************************************/
.image-gallery__element {
}
