<div class="image-gallery-container"
     [style.width]="width" [style.height]="height" [style.maxWidth]="maxWidth" [style.maxHeight]="maxHeight">
  <div class="image-gallery-wrapper">
    <div *ngFor="let image of images" class="image-gallery__element">
      <img alt="Alternativtext für das Bild" src="{{image.link}}"/>
    </div>
  </div>
  <div class="sliderButton sliderButton--right" *ngIf="images.length > 1"></div>
  <div class="sliderButton sliderButton--left" *ngIf="images.length > 1"></div>
</div>
