<app-header-bar *ngIf="!showImprint && !showOverallSettings"></app-header-bar>
<div class="back_button"><p
  *ngIf="showImprint || showOverallSettings">
  <i (click)="goBack();"
     class="material-icons back">
  </i>
</div>
<div *ngIf="!showOverallSettings && !showImprint">
  <button class="button_setting_list">
    <span (click)="openSettings()"
          class="list_item_settings">
      <i class="material-icons icon">
        settings
      </i>
      <span class="icon_text">
    Allgemeine Einstellung
  </span>
    </span>
  </button>
  <button class="button_setting_list" routerLink="/my-favorite-recipes">
    <span class="list_item_settings">
      <i class="material-icons icon">
        favorite
      </i>
      <span class="icon_text">Favorisierte Rezepte</span>
    </span>
  </button>
  <button class="button_setting_list">
    <span class="list_item_settings">
      <i class="material-icons icon">local_dining</i>
      <a routerLink="/default-ingredients" class="icon_text">Standardzutaten</a>
    </span>
  </button>
  <button class="button_setting_list">
    <span (click)="showReset()" class="list_item_settings">
      <i class="material-icons icon">
        restore_page
      </i>
      <span class="icon_text ">
    Zurücksetzen
      </span>
    </span>
  </button>
  <button class="button_setting_list">
    <span (click)="openImprint()" class="list_item_settings">
      <i class="material-icons icon">
        contact_mail
      </i>
      <span class="icon_text">
    Impressum
      </span>
    </span>
  </button>
  <button class="button_setting_list">
    <span class="list_item_settings">
      <i class="material-icons icon">
        star
      </i>
      <span class="icon_text">
    Favoriten
      </span>
    </span>
  </button>
</div>

<app-default-ingredient *ngIf="showDefaultIngredientsSetting"></app-default-ingredient>

<div *ngIf="showOverallSettings || showImprint">
  <div *ngFor="let setting of setupData.settings">
    <button class="button_setting_list">
      <span *ngIf="showImprint">
        <i class="material-icons">
          {{setting.icon}}
        </i>
      </span>
      <span (click)="setting.function()" class="list_item_settings">{{setting.text}}</span>
    </button>
  </div>
</div>

<div *ngIf="showOverlay" id="overlay">
  <div class="overlay_box">
    <p>Wollen sie die App wirklich zurücksetzen?</p>

    <div>
      <button (click)="showOverlay = false; reset();" class="overlay_box_button"> Ja</button>
      <button (click)="showOverlay = false;" class="overlay_box_button"> Nein</button>
    </div>
  </div>
</div>
