<div class="filter-tab" [class.open]="showTabElements">
  <div class="filter-tab__title" (click)="showTabElements = !showTabElements">Filter</div>
  <div class="filter-tab__elementContainer filter-tab__elementContainer--regions" *ngIf="showTabElements">
    <p class="filter-tab__elementContainer__element filter-tab__elementContainer__element--regions"
       *ngFor="let regionId of tabElements.regionIds"
       (click)="deselectTabElement(regionId, 'region') ? null: selectTabElement(regionId, 'region');"
       [class.selected]="selectedTabElements.regionIds.indexOf(regionId) >= 0">
      {{translationService.translate(regions[regionId])}}
    </p>
  </div>

  <div class="filter-tab__elementContainer filter-tab__elementContainer--categories" *ngIf="showTabElements">
    <p class="filter-tab__elementContainer__element"
       *ngFor="let categoryId of tabElements.categoryIds"
       (click)="deselectTabElement(categoryId, 'category') ? null: selectTabElement(categoryId, 'category');"
       [class.selected]="selectedTabElements.categoryIds.indexOf(categoryId) >= 0">
      {{translationService.translate(categories[categoryId])}}
    </p>
  </div>
</div>
