<div class="grid">
  <div class="ingredientContainer">
    <label>
      <input class="ingredient" placeholder="Name der Zutat..." name="ingredient" type="text">
    </label>
  </div>

  <div class="amountContainer">
    <label>
      <input class="amount" placeholder="Menge..." name="amount" type="number">
    </label>
  </div>

  <div class="suffixContainer">
    <select name="suffix" class="suffix">
      <option value="Stk" selected>Stk</option>
      <option value="g">g</option>
      <option value="kg">kg</option>
      <option value="Löffel">Löffel</option>
    </select>
  </div>
</div>
