<div class="grid">
  <div class="ingredientContainer">
    <label>
      <input class="ingredient" [(ngModel)]="label" placeholder="Name der Zutat..." name="ingredient" type="text">
    </label>
  </div>

  <div class="amountContainer">
    <label>
      <input [(ngModel)]="amount" class="amount" placeholder="Menge..." name="amount" type="number">
    </label>
  </div>

  <div class="suffixContainer">
    <select [(ngModel)]="suffix" name="suffix" class="suffix">
      <option value="{{ volumeUnit }}" *ngFor="let volumeUnit of fileVolumeUnits">{{ volumeUnit }}</option>
    </select>
  </div>
</div>
