@import "../../../styles.less";

.mainFontFamily {

}

#map {
  height: 100vh;
  width: 100vw;
}

.gpsButton {
  position: absolute;
  z-index: 1;
  right: 15px;
  top: 15px;
  width: 40px;
  height: 40px;

  i {
    cursor: pointer;
    font-size: 40px;
  }
}

app-header-bar::ng-deep span.back {
  padding: 8px 8px 8px 32px;
}

.sidebar {
  z-index: 2;
  position: fixed;
  bottom: -300px;
  width: 100%;
  height: 25%;
  transition: all .5s ease;
}

.tab{
  overflow-x: auto;
}

#check {
  display: none;
}

label #open_menu, label #close_menu {
  z-index: 10;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
}

#check:checked ~ .sidebar {
  bottom: 0;
}

#check:checked ~ label #close_menu {
  bottom: 24%;
}

#check:not(:checked) ~ label #close_menu {
  display: none;
}

#check:checked ~ label #open_menu {
  display: none;

}

.sidebar table {
  margin-left: auto;
  margin-right: auto;
}

.markets{
  border-collapse: collapse;
}

#maerkte td {
  padding: 8px;
}

#maerkte tr {
  border: 5px solid transparent;
  background-color: #df8620;
}

#market_index{
  width: 5px;
}

#market_name{
  width: 150px;
}

#market_opening, #market_opening2{
  width: 150px;
}

#market_distance{
  width: 120px;
}
