/*************************************
imports
name
image
nutri-score
ingredient analysis
labels
**************************************/

/*************************************
imports
**************************************/
@import "../../../../src/styles.less";

/*************************************
name
**************************************/
.openff-detail-page__name {
  .mainFontFamily;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: black;
  padding-bottom: 1vh;

  > h1 {
    margin: 0;
  }
}

/*************************************
image
**************************************/
.openff-detail-page__image {
  display: flex;
  justify-content: center;
  padding-bottom: 4vh;

  > img {
    border-radius: 0.6rem;
  }
}

/*************************************
nutri-score
**************************************/
.openff-detail-page__nutri_score {
  display: flex;
  justify-content: center;
  padding-bottom: 1vh;
  pointer-events: none;
}

/*************************************
ingredient analysis
**************************************/
.openff-detail-page__ingredient-analysis {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 1vh;

  > .ingredient-analysis {
    .mainFontFamily;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin: 3px;
    pointer-events: none;

    &--palm-oil,
    &--non-vegan,
    &--non-vegetarian {
      background-color: #ee5556;
    }

    &--palm-oil-free,
    &--vegan,
    &--vegetarian {
      background-color: rgba(48, 164, 50, 0.93);
    }
  }
}

/*************************************
labels
**************************************/
.openff-detail-page__labels {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 5vh;

  .label {
    .mainFontFamily;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    color: #000000;
    padding: 0;
    margin: 10px;
    border-radius: 5px;
    pointer-events: none;
  }
}
