<div class="mainPage">
  <div id="header" class="grid-container noExtraColumns">
    <h1 class="title">Gourmet Fridge</h1>
    <div class="logo-wrapper">
      <img class="logo" alt="Logo of website." src="{{mainImagePath}}">
    </div>
  </div>
  <div id="contentArea" class="grid-container noExtraColumns">
    <div class="mainMenu">
      <a class="menuElement search" routerLink="/search"></a>
      <a class="menuElement shoppingList" routerLink="/"></a>
      <a class="menuElement addNew" routerLink="/"></a>
      <a class="menuElement barcodeScanner" routerLink="/barcode-scanner"></a>
      <a class="menuElement settings" routerLink="/"></a>
      <a class="menuElement fridge" routerLink="/"></a>
    </div>
  </div>
</div>
