.newInputBtn {
  font-size: 1em;
  border: 1px solid black;
  background-color: #ffca2c;
}

.newInputBtn:hover {
  cursor: pointer;
  background-color: #e8b32c;
}

#addBtn {
  margin-top: .7em;
}

#removeBtn {
  display: block;
  float: right;
  margin-top: -1.8em;
  margin-right: 1em;
}

@media only screen and (max-width: 768px) {
  #addBtn {
    text-align: center;
    height: 2em;
    width: 20%;
  }

  #removeBtn {
    margin-right: -1.2em;
  }
}
