<div class="mainPage">
  <app-header-bar [ingredientIdList]="ingredientIds"
                  [fridgeFlag]="true"
                  [shoppingListButton]="true"
                  [defaultIngredientsButton]="true"
                  (defaultIngredientsEvent)="onDefaultIngredientsChange($event)"
                  (ingredientListChange)="searchRecipesForIngredients()"
  ></app-header-bar>
  <!-- todo: additionally to the translated title, pass region-, recipe- and category-ID so we can build a search query based on them -->
  <div id="contentArea" class="grid-container noExtraColumns noRows">
    <div class="tag-list" *ngIf="ingredientIds.length > 0">
      <p *ngFor="let suggestion of ingredientIds" class="tag-list__element"
         (click)="toggleFilterParam(suggestion); searchRecipesForIngredients()">
        {{translationService.translate(ingredients[suggestion])}}
      </p>
    </div>
    <app-search-page-filter-tab *ngIf="ingredientIds.length > 0" [tabElements]="tabElements"
                                (tabSelection)="onTabSelection($event)"></app-search-page-filter-tab>
    <div class="recipe-list">
      <ng-container *ngIf="searchResult.length > 0; then recipes else loading"></ng-container>
      <ng-template #recipes>
        <app-recipe-list-element *ngFor="let recipe of searchResult" [recipe]="recipe"></app-recipe-list-element>
      </ng-template>
      <ng-template #loading>
        <app-loading-animation *ngIf="ingredientIds.length > 0" [description]="'Ergebnisse werden geladen ...'"></app-loading-animation>
      </ng-template>
    </div>
  </div>
</div>
