<div class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Willkommen bei <br/> Gourmet Fridge!</h2>
    </div>
    <div class="modal-body">
      <p>Dies ist eine App, welche es Ihnen ermöglicht anhand Ihrer eingegebenen Zutaten ohne großen Aufwand ein Rezept nach Ihrem Geschmack zu finden.</p>
      <p>Sie haben nun die Möglichkeit Ihre Standardzutaten zu definieren, welche bei der Suche berücksichtigt werden.</p>
      <p>Möchten Sie Ihre Standardzutaten jetzt festlegen? (Sie können diese auch je nach belieben in den Einstellungen ändern)</p>
    </div>
    <div class="modal-footer">
      <button class="greeting-btn" (click)="emit(false)">Nein</button>
      <button class="greeting-btn" (click)="emit(true)">Ja</button>
    </div>
  </div>
</div>

