/*************************************
imports
basic setup
headline
information-components
short description
button "cook now"
**************************************/

/*************************************
imports
**************************************/
@import "../../../../src/styles.less";

/*************************************
basic setup
**************************************/
.short-description {
  margin: 0 18px;
}

.information-components--wrapper {
  margin: 0 18px;
}

.headline {
  margin: 8px 18px 0 18px;
}

/*************************************
headline
**************************************/
.headline {
  padding: 0 9px 6px 9px;
  display: flex;
  border-bottom: 1px solid #000000;
}

.headline__title {
  margin: 0;
  .mainFontFamily();
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.75rem;
}


.headline__cookingTime {
  .mainFontFamily();
  font-size: 12px;
  line-height: 124%;
  margin: auto 0 0 auto;

  &:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    background-image: url("../../../assets/icons/stopwatch.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  + .headline__favouriteRecipe {
    margin: 0 9px;
  }
}

:not(.headline__cookingTime) + .headline__favouriteRecipe {
  margin: 0 0 0 auto;
}

.headline__favouriteRecipe {
  &:not(.favoured):before {
    background-image: url("../../../assets/icons/star--border.svg");
  }

  &.favoured:before {
    background-image: url("../../../assets/icons/star--yellow.svg");
  }

  &:before {
    content: '';
    display: inline-block;
    vertical-align: bottom;
    width: 32px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &:not(:hover):before {
    opacity: 0.7;
  }
}

/*************************************
information-components
**************************************/
.information-components--wrapper {
  column-count: 2;
}

.information-components__recipe-list {

  thead {
    .mainFontFamily();
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 124%;
    color: red;
    text-decoration: underline;
  }
}

.information-components__tools-list {
  border-bottom: 1px solid #000000;
}

/*************************************
short-description
**************************************/
.short-description {
  border-top: 1px solid #000000;
}

/*************************************
button "cook now"
**************************************/
.button--cook-now {
  .mainFontFamily();
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 124%;
  color: #000000;
  text-decoration: none;

  display: inline-block;
  position: relative;
  padding: 11px 5px 11px 48px;
  margin-left: 50%;
  margin-top: 13px;
  transform: translateX(-50%);
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;

  &:hover {
    background: @mainColors_lightGrey;
  }

  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    _vertical-align: middle;
    background-image: url("../../../assets/icons/chef's-hat.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
