/*************************************
imports
header
content area
  -
**************************************/

/*************************************
imports
**************************************/
@import "../../../../src/styles.less";

/*************************************
header
**************************************/
  .title__image {
    @media screen and (max-width: @width_max-xl) and (min-width: @width_min-xl) {
      padding-bottom: 30%; //because using padding instead of height makes aspect ratio stay the same
      overflow: hidden;
      height: 0;
    }
    @media screen and (max-width: @width_max-md) and (min-width: @width_min-md) {
      padding-bottom: 45%; //because using padding instead of height makes aspect ratio stay the same
      overflow: hidden;
      height: 0;
    }
    @media screen and (max-width: @width_max-sm) and (min-width: @width_min-sm) {
      padding-bottom: 57%; //because using padding instead of height makes aspect ratio stay the same
      overflow: hidden;
      height: 0;
    }

    .image {
      width: 100%;
      height: auto;
    }
  }

/*************************************
content area
**************************************/
.headLine {
  float: left;
  width: 32%;
  margin-right: 2%;
  padding: 20px;
  background: #eee;
  box-sizing: border-box;
}

.headLine:last-child {
  margin-right: 0;
}

.bodyLists{

}

.missing {
  color: red;
}

/*************************************
favorite button
**************************************/
.favorite-flag {
  margin: 4px;
  background: url("../../../assets/icons/star--border.svg") no-repeat center;
  background-size: contain;
  padding-right: 8px;
  opacity: 0.25;
  cursor: pointer;

  @media screen and (max-width: @width_max-xl) and (min-width: @width_min-xl) {
    width: 50px;
    height: 61px;
  }
  @media screen and (max-width: @width_max-md) and (min-width: @width_min-md) {
    width: 40px;
    height: 51px;
  }
  @media screen and (max-width: @width_max-sm) and (min-width: @width_min-sm) {
    width: 30px;
    height: 41px;
  }

  &.selected {
    background: url("../../../assets/icons/star--border.svg") no-repeat center;
  }
}
