<app-header-bar></app-header-bar>
<app-loading-animation *ngIf="localStorageService.has(localStorageKeys.FAVORITE_RECIPES) && favoriteRecipes.length === 0" description="Bitte haben Sie einen Augenblick Geduld"></app-loading-animation>
<div class="header" *ngIf="favoriteRecipes.length !== 0">
  <h2>Ihre favorisierten Rezepte</h2>
  <input id="searchField" [(ngModel)]="searchStr" (keyup)="searchFavorites()"
         placeholder="Favorisierte Rezepte durchsuchen" type="text">
</div>
<div *ngIf="!searchStr">
  <ul class="favored-recipes">
    <li *ngFor="let favoriteRecipe of favoriteRecipes">
      <app-recipe-card (recipeIdToDelete)="setRemoveMessageAndOpenModal($event)" [recipe]="favoriteRecipe"></app-recipe-card>
    </li>
  </ul>
</div>
<div *ngIf="searchStr !== ''">
  <ul class="favored-recipes">
    <li *ngFor="let filteredRecipe of filteredRecipes">
      <app-recipe-card [recipe]="filteredRecipe"></app-recipe-card>
    </li>
  </ul>
</div>
<div class="header" *ngIf="!localStorageService.has(localStorageKeys.FAVORITE_RECIPES)">
  <h3>Sie haben noch keine Favoriten hinzugefügt</h3>
</div>
<app-action-modal *ngIf="wantsToRemove" [color]="'#1d88dd'" [message]="removeMessage" (eventEmitter)="onRemove($event)"></app-action-modal>
