<div id="header" class="grid-container noExtraColumns"
     [style.opacity]="opacity" [style.width]="width" [class.background]="background"
>
  <span class="back" [class.allowElementsBehind]="allowElementsBehind" (click)="goBack()"></span>

  <form *ngIf="ingredientIdList" class="add-tag" [class.active]="suggestionContainerActive">
    <!-- todo: consider usability regarding fullscreen-switch -->
    <input type="text" name="search-field" [(ngModel)]="searchValue" (click)="toggleSuggestionsContainer(true)">
  </form>

  <div class="rightSideButtonsWrapper" [class.allowElementsBehind]="allowElementsBehind"
       [class.afterSuggestionsBar]="ingredientIdList">
    <span class="default-ingredients-flag"
          *ngIf="!(suggestionContainerActive && ingredientIdList) && defaultIngredientsButton"
          [class.selected]="defaultIngredientsStatus"
          (click)="toggleIngredientsStatus()">
      Standard<br/>Zutaten
    </span>

    <span class="button--add-recipe-to-shopping-list" [class.recipeAddedToList]="recipeAddedToList"
          *ngIf="!(suggestionContainerActive && ingredientIdList) && !ingredientsListButton && currentRecipe"
          (click)="addRecipeToShoppingList()">
    </span>

    <a class="fridge-flag fridge-button"
       *ngIf="!(suggestionContainerActive && ingredientIdList) &&  fridgeFlag"
       [class.selected]="fridgeContentStatus"
       (click)="toggleFridgeStatus(true)">
    </a>

    <a class="fridge-link fridge-button"
       *ngIf="!(suggestionContainerActive && ingredientIdList) &&  fridgeLink"
       (click)="toggleFridgeStatus()">
    </a>

    <a class="open-shoppingList"
       *ngIf="!(suggestionContainerActive && ingredientIdList) &&  shoppingListButton" routerLink="/shopping-list">
    </a>

    <div class="open-ingredientsList"
         *ngIf="!(suggestionContainerActive && ingredientIdList) &&  ingredientsListButton"
         (click)="ingredientsListButtonState = !ingredientsListButtonState">
    </div>
  </div>
</div>

<div class="suggestionsContainer" *ngIf="suggestionContainerActive && ingredientIdList && searchValue.length > 0">
  <p class="suggestion"
     *ngFor="let ingredientId of this.dataService.getTagsBySearchString(this.searchValue)"
     (click)="addSuggestion(ingredientId)">{{translationService.translate(ingredients[ingredientId])}}
  </p>
</div>

<div class="ingredientList--wrapper"
     *ngIf="(!(suggestionContainerActive && ingredientIdList) &&  ingredientsListButton) && ingredientsListButtonState && currentRecipe">
  <div class="ingredientList--closingButton" (click)="ingredientsListButtonState = !ingredientsListButtonState"></div>
  <table class="ingredientList" *ngIf="currentRecipe.ingredients.length >= 1">
    <tr *ngFor="let ingredient of currentRecipe.ingredients">
      <td *ngIf="ingredient.customTitle">{{ingredient.customTitle}}</td>
      <td *ngIf="!ingredient.customTitle">{{typesMapper.getRecipeNameById(ingredient.id)}}</td>
      <td>{{ingredient.amount}} {{typesMapper.getVolumeUnitByParam(ingredient.volumeUnit)}}</td>
    </tr>
  </table>
</div>
