<app-header-bar></app-header-bar>
<app-popup *ngIf="recipeSaved" [message]="'Rezept gespeichert!'"></app-popup>
<form class="col-12" action="" id="recipeForm">
  <h1 id="heading" class="col-12">Ein neues Rezept hinzufügen</h1>

  <div class="col-12" id="titleAndPreparationTimeContainer">
    <div id="titleContainer" class="col-12">
      <label for="title" class="col-12">Titel</label>
      <input class="col-12" placeholder="Titel des Rezepts..." type="text" name="title" id="title" [(ngModel)]="title">
    </div>

    <div id="preparationTimeContainer" class="col-12">
      <label for="preparationTime">Vorbereitungszeit (in Minuten)</label>
      <input placeholder="Vorbereitungszeit..." type="number" name="preparationTime" id="preparationTime"
             [(ngModel)]="preparationTime">
    </div>
  </div>

  <div id="categoryAndRegionContainer" class="col-12">
    <div>
      <label for="category">Kategorie</label>
      <select multiple [(ngModel)]="categories" name="category" id="category">
        <option value="{{ item }}" *ngFor="let item of fileCategories">{{ item }}</option>
      </select>
    </div>
    <div>
      <label for="region">Region</label>
      <select multiple [(ngModel)]="regions" name="region" id="region">
        <option value="{{ item }}" *ngFor="let item of fileRegions">{{ item }}</option>
      </select>
    </div>
  </div>

  <div id="desciptionContainer">
    <label for="desciption">Beschreibung</label>
    <textarea name="description" id="desciption" [(ngModel)]="description" cols="40" rows="2"></textarea>
  </div>

  <div id="ingredientsContainer" class="col-12">
    <label class="col-12">Zutaten</label>
    <app-input-plus-list></app-input-plus-list>
  </div>

  <div id="instructionsContainer" class="col-12">
    <label for="instructions">Anweisungen</label>
    <textarea [(ngModel)]="instructions" name="instructions" id="instructions" cols="40" rows="10"></textarea>
  </div>

  <div id="submitContainer" class="col-12">
    <button [disabled]="!validRecipe()" (click)="saveRecipe()">Anlegen</button>
  </div>
</form>
