/** main colors **/
@colourButtonFridge: #5E97F6;
@colourButtonSettings: #FFA727;
@colourButtonBarcodeScanner: #258982;
@colourButtonAddNew: #FF7E0F;
@colourButtonShoppingList: #72B70F;
@colourButtonSearch: #2196F3;

/** widths **/
@width_max-xl: 4000px;
@width_min-xl: 1025px;
@width_max-md: 1024px;
@width_min-md: 601px;
@width_max-sm: 600px;
@width_min-sm: 1px;

.grid-container {
  display: grid;
  grid-template-rows: repeat(3, 33%);

  &:not(.noExtraColumns) {
    grid-template-columns: 100px auto 100px;
  }

  &.noExtraColumns {
    grid-template-columns: auto;
  }
}
