@import "../../../styles.less";

table {
  .mainFontFamily();
  border-collapse: collapse;
  width: 100%;
}

.item-checked {
  background: #72B70F;
  color: #fff;
  text-decoration: line-through;
}

tr {
  .mainFontFamily();
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background-color: #eee;
  font-size: 18px;
  transition: 0.2s;
}

.table-row:hover {
  background-color: #ddd;
}

.clear-row {
  background-color: white;
}

th, td {
  .mainFontFamily();
  width: 10%;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

input[type=text] {
  .mainFontFamily();
  margin: 0;
  border: none;
  border-radius: 0;
  width: 50%;
  padding: 10px;
  float: left;
  font-size: 16px;
  border-bottom: 2px solid #ddd;
}

button[type=submit] {
  .mainFontFamily();
  background-color: grey;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 10px;
  cursor: pointer;
}

.td-second {
  width: 10%;
  border-left: 1px solid #ddd;
}

.td-third {
  width: 30%;
  text-align: right;
  padding-right: 30px;
}

.shopping-list {
  margin: 20px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.filter-button-recipe {
  margin-bottom: 13px;
  background-color: grey;
  cursor: pointer;
  color: white;
}

.filter-button-recipe:hover {
  background-color: lightgray;
}

.filter-button-all {
  cursor: pointer;
}

.filter-button-all:hover {
  background-color: lightgray;
  cursor: pointer;
}

.sharing-button {
  margin-top: 30px;
}


h2 {
  .mainFontFamily();
}

h3 {
  .mainFontFamily();
}

h4 {
  .mainFontFamily();
}
