<app-header-bar></app-header-bar>
<div class="shopping-list">
  <div>
    <h2>Einkaufsliste</h2>
    <form>
      <label>
        <input placeholder="Zutat hinzufügen" type="text" name="name" [(ngModel)]="privateIngredient.label">
      </label>
      <button type="submit" (click)="addNewPrivateIngredient()">Add</button>
    </form>
    <i [class.filter-button-recipe]="!recipeFilter" [class.filter-button-all]="recipeFilter"
       class="filter-button material-icons md-48" style="float: right" (click)="toggleFilter()">filter_list</i>
  </div>

  <div *ngIf="!recipeFilter">
    <h3>Rezepte</h3>
    <table *ngIf="recipeFilteredShoppingLists.length === 0">
      <tr class="clear-row">Keine Rezepte ausgewählt.</tr>
    </table>
    <div *ngFor="let recipeShoppingList of recipeFilteredShoppingLists">
      <h4>{{recipeShoppingList.title}}</h4>
      <table>
        <tr [class.item-checked]="ingredient.done" *ngFor="let ingredient of recipeShoppingList.ingredients"
            (click)="toggleIngredient(ingredient)">
          <td>{{ingredient.label}}</td>
          <td class="td-second">{{ingredient.amount}}</td>
          <td class="td-second">{{ingredient.volumeUnit}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div *ngIf="recipeFilter">
    <h3>Einkaufsliste</h3>
    <table>
      <tr class="clear-row" *ngIf="allIngredientsFilteredShoppingList.length === 0">Keine Rezepte ausgewählt.</tr>
      <tr [class.item-checked]="ingredient.done" *ngFor="let ingredient of allIngredientsFilteredShoppingList"
          (click)="toggleIngredient(ingredient)">
        <td>{{ingredient.customTitle}}</td>
        <td class="td-second">{{ingredient.amount}}</td>
        <td class="td-second">{{ingredient.volumeUnit}}</td>
      </tr>
    </table>
  </div>

  <div>
    <h4>Zuätzliche Produkte</h4>
    <table>
      <tr class="clear-row" *ngIf="privateShoppingList.length === 0">Keine zuätzlichen Produkte eingegeben.</tr>
      <tr [class.item-checked]="ingredient.done" *ngFor="let ingredient of privateShoppingList"
          (click)="toggleIngredient(ingredient)">
        <td>{{ingredient.label}}</td>
        <td class="td-third">
          <i (click)="deleteItem(ingredient)" class="material-icons">delete</i>
        </td>
      </tr>
    </table>
  </div>

  <div class="sharing-button">
    <div *ngIf="recipeFilter" align="center">
      <a href="https://api.whatsapp.com/send?text={{sharingString}}" target="_blank">
        <img src="../../../assets/icons/whatsapp_share.svg" width="50px" alt="Whatsapp">
      </a>
    </div>
    <div align="center" style="margin-top: 10px">
      <a routerLink="/markets">
        <img src="../../../assets/icons/markets-around.svg" alt="Markets">
      </a>
    </div>
  </div>
</div>
