<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button class="button button-large" color="dark" [routerLink]="['/search']">
    <ion-icon name="search"></ion-icon>
  </ion-button>
  <ion-button class="button button-large" color="dark" [routerLink]="['/new_recipe']">
    <ion-icon name="add"></ion-icon>
  </ion-button>
  <ion-button class="button button-large" color="dark" [routerLink]="['/settings']">
    <ion-icon name="settings"></ion-icon>
  </ion-button>
  <ion-button class="button button-large" color="dark" [routerLink]="['/shopping_list']">
    <ion-icon name="list-box"></ion-icon>
  </ion-button>
  <ion-button class="button button-large" color="dark" [routerLink]="['/barcode']">
    <ion-icon name="?"></ion-icon>
  </ion-button>
  <ion-button class="button button-large" color="dark" [routerLink]="['/fridge']">
    <ion-icon name="?"></ion-icon>
  </ion-button>
</ion-content>
