<ion-header>
  <ion-toolbar>
    <ion-title class="app-name">
      Gourmet Fridge
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid class="button-grid">
  <ion-row>
    <ion-col>
      <ion-button class="button button-large search-button" [routerLink]="['/search']">
        <ion-icon src="../../assets/icon/search.svg"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col>
      <ion-button class="button button-large add-button" [routerLink]="['/new_recipe']">
        <ion-icon src="../../assets/icon/plus.svg"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button class="button button-large settings-button" [routerLink]="['/settings']">
        <ion-icon src="../../assets/icon/gears.svg"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="button button-large shopping-list-button" [routerLink]="['/shopping_list']">
        <ion-icon src="../../assets/icon/shopping_list.svg"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button class="button button-large barcode-button" [routerLink]="['/barcode']">
        <ion-icon src="../../assets/icon/barcode.svg"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button class="button button-large fridge-button" [routerLink]="['/fridge']">
        <ion-icon src="../../assets/icon/fridge.svg"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
