/****************************
- header
- main section
     - grid row
     - button
     - icon
*****************************/

/** header **/
#header--mainPage {
  margin-top: 3.26%;
  padding-bottom: 1.13%;


  &:after {
    display: none;
  }

  .header__wrapper {
    .app-name {
      font-size: 1.6em;
      text-align: center;
    }

    .main-logo-wrapper {
      padding-top: 2.34%;
      display: flex;
      justify-content: center;
    }

    .main-logo-wrapper__logo {
      width: 100px;
      height: 114px;
    }
  }
}

/** main section **/
#main-section {
  margin-top: 0;
  padding-top: 1.13%;
  padding-bottom: 6.39%;

  /** grid row **/
  ion-row:not(:last-of-type) {
    padding-bottom: 5.3%;
  }

  /** button **/
  .button-grid {
    margin-top: 3em;
  }

  .button {
    height: 140px;
    width: 140px;
    border-radius: 26px;

    &.search-button {
      background-color: #2196F3;

      .search--custom {
        width: 90px;
        height: 90px;
      }
    }

    &.add-button {
      background-color: #FF7E0F;

      .add--custom {
        width: 60px;
        height: 60px;
      }
    }

    &.settings-button {
      background-color: #FFA727;

      .settings--custom {
        width: 100px;
        height: 100px;
      }
    }

    &.shopping-list-button {
      background-color: #72B70F;

      .shopping_list--custom {
        width: 100px;
        height: 100px;
      }
    }

    &.barcode-button {
      background-color: #258982;

      .barcode--custom {
        width: 140px;
        height: 140px;
      }
    }

    &.fridge-button {
      background-color: #5E97F6;

      .fridge--custom {
        width: 100px;
        height: 100px;
      }
    }

    /** icon **/
    ion-icon {
      font-size: 3em;
      color: white;
    }
  }
}
