<div class="filter-tab" [class.open]="showTabElements">
  <div class="filter-tab__title" (click)="showTabElements = !showTabElements">Filter</div>
  <div class="filter-tab__elementContainer" *ngIf="showTabElements">
    <p class="filter-tab__elementContainer__element"
       *ngFor="let tabElement of tabElements"
       (click)="deselectTabElement(tabElement)? null: selectTabElement(tabElement);"
       [class.selected]="selectedTabElements.indexOf(tabElement) >= 0">
      {{tabElement.title}}
    </p>
  </div>
</div>
